header.header
    .shadow
    .l-default
        .header__wrapper
            .header__logo       
                img(src="img/svg/logo.svg", alt="")
            .header__menu
                a.header__menu-item.scroll(href="#about") О нас     
                a.header__menu-item.scroll(href="#buy") Работа с госзакупками
                a.header__menu-item.scroll(href="#footer") Контакты
            .header__burger 
                span 
                span 
                span 