section.for-invest
    .l-default 
        .for-invest__items.buy__items
            .buy__item
                .buy__item-number 25 <span>процентов</span>
                .buy__item-text Ожидаемая целевая доходность 25% годовых
            .buy__item
                .buy__item-number 3 <span>месяца</span>
                .buy__item-text Минимальный срок привлечения средств — 3 месяца
            .buy__item
                .buy__item-number 1 <span>месяц</span>
                .buy__item-text Возможны ежемесячные выплаты
        .for-invest__text Заработанный авторитет, накопленные компетенции и профессионализм нашей команды, большое количество построенных объектов, гарантированная оплата со стороны муниципалитетов после сдачи объектов — элементы, которые обеспечивают надежность сотрудничества.
        a.for-invest__btn.btn.btn--blue(href="#popup-invest" data-fancybox) Стать инвестором 