section.about#about
    .l-default
        .about__wrapper 
            .about__img
                picture
                    source(srcset="img/main/photo.webp" type="image/webp")
                    source(srcset="img/main/photo.jpg" type="image/jpg")
                    img.lazy(src="img/main/photo.jpg" alt="")
                .about__info
                    .about__info-name Николай Корев,
                    .about__info-position Гендиректор <br>“Аквафор трейдинг”
            .about__text 
                p “За время существования компании мы прошли путь от коттеджной водоподготовки до строительства крупных станций водоочистки и очистки сточных вод практически по всей стране. 
                p С 2017 года компания ежегодно удваивает выручку, и к 2020 году имеет оборот в 0,5 млрд рублей. Благодаря безупречной многолетней работе мы гарантируем своим инвесторам высокую целевую доходность.”