extends layouts/default
include helpers/_mixins

block variables
  - const title = "Аквафор"

block content
  include ../blocks/modules/loader/loader.pug
  include ../blocks/modules/header/header.pug
  main.main
    include ../blocks/modules/main-top/main-top.pug
    include ../blocks/modules/invest/invest.pug
    include ../blocks/modules/about/about.pug
    include ../blocks/modules/advantages/advantages.pug
    include ../blocks/modules/for-invest/for-invest.pug
    include ../blocks/modules/buy/buy.pug
    include ../blocks/modules/smi/smi.pug
    include ../blocks/modules/magazine/magazine.pug
    include ../blocks/modules/clients/clients.pug
    include ../blocks/modules/horizontal-form/horizontal-form.pug
  include ../blocks/modules/footer/footer.pug
  include ../blocks/modules/popups/popups.pug

block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")
