section.main-top
    .l-default
        h1.main-top__title.title.title--h1 Инвестиции в исполнение государственных контрактов по федеральной целевой программе “Чистая вода”
        .main-top__info
            .main-top__info-item.main-top__text Ожидаемая целевая доходность 25% Возможность ежемесячных выплат <br>Срок займа от 3-х месяцев
            .main-top__info-item.main-top__btn 
                a.btn.btn--blue(href="#popup-invest" data-fancybox) Стать инвестором
            .main-top__info-item.main-top__contacts 
                a.main-top__contacts-address <strong>Московская область г.Химки</strong><br> ул. Рабочая 2а, стр. 26, офис 309 
                .main-top__contacts-phones 
                    a.main-top__contacts-phone(href="+74955404698") +7 (495) 540 46 98 
                    span // 
                    a.main-top__contacts-phone(href="88005552734") 8 (800) 555 27 
                a.main-top__mail(href="mailto:info@a-filter.ru") info@a-filter.ru