-
    const columns = [
        {
            head: "13 лет опыта",
            texts: [
                {
                    item : "«Аквафор Трейдинг» на рынке с 2007 года. Мы занимаемся строительством крупных станций водоочистки и очистки сточных вод практически по всей стране."
                },
                {
                    item : "Компания – обладатель целого ряда наград в области водоподготовки. «Лучшая компания России – 2010» в номинации «Установка и обслуживание систем водоочистки», «Предприятие года 2011», «Стабильная компания – 2012» в номинации «Установка систем водоочистки»."
                }
            ]
        },
        {
            head: "Лучшие специалисты",
            texts: [
                {
                    item : "Технологическая экспертиза – самая сильная сторона нашей команды."
                },
                {
                    item : "Мы перенимаем опыт старшего поколения и совмещаем его с новейшими разработками в области водоочистки."
                },
                {
                    item : "Совместно с с западными инжиниринговыми компаниям наши специалисты разрабатывают новые и реконструируют уже существующие системы водоподготовительного и водоочистного оборудования."
                }
            ],
        },
        {
            head: "Новейшие технологии",
            texts: [
                {
                    item : "Мы создаем цифровую платформу AKAMA, позволяющую собирать онлайн-поток данных и вести предиктивную ана- литику на объектах ЖКХ"
                },
                {
                    item : "Она позволит существенно упростить наблюдение за работой и управление многими объектами, что особенно актуально в удаленных населенных пунктах."
                }
            ]
        },
        {
            head: "Открытые процессы",
            texts: [
                {
                    item : "Партнеры могут наблюдать за проектом в любой стадии: ознакомиться с методологией нашей работы, приезжать на встречи с заказчиками и подрядчиками."
                },
                {
                    item : "Все реализованные проекты размещаются на сайте госзакупок, в любой момент мы готовы представить первичные документы."
                }
            ]
        }
    ]

section.advantages
    .l-default 
        h2.advantages__title.title.title--h2 Наши преимущества
        .advantages__table
            each column in columns
                .advantages__table-column 
                    .advantages__table-head= column.head
                    each text in column.texts
                        .advantages__table-text
                            p= text.item
            