section.magazine#magazine
    .l-default 
        h2.magazine__title.title.title--h2 Журнал чистая вода
        .magazine__texts
            .magazine__text
                p Мы проводим информационные встречи для руководителей муниципалитетов, помогая с оформлением документов, проектированием, прохождением госэкспертизы, включением в федеральную программу.
            .magazine__text
                p А также выпускаем журнал «Чистая вода. Реализация федеральных программ», читателями которого становятся Главы и заместители Глав по коммунальному хозяйству и здравоохранению городских и сельских муниципальных поселений, руководители водоканалов.
                a(href="#popup-magazine" data-fancybox) Получить журнал на почту