section.invest#invest
    .l-default 
        .invest__wrapper
            h2.invest__wrapper-item.invest__title.title.title--h2 Инвестиции в водный сектор
            .invest__text.invest__wrapper-item 
                p Вода — жизненно необходимый ресурс. Численность населения нашей планеты растет с каждым годом, а вместе с ней растет и потребность в чистой питьевой воде. Поэтому водный сектор становится все более перспективным направлением для инвестиций. 
                p В рамках федеральной целевой программы «Чистая вода» в России проводится модернизация водопровода и станций очистки воды с использованием современных технологий.
            .invest__text.invest__wrapper-item 
                p Многолетний опыт компании «Аквафор Трейдинг» позволяет проводить работы по производству, реконструкции, поставке и монтажу инженерного оборудования для водоочистных сооружений различного уровня сложности и производительности.