section.buy#buy
    .l-default
        .buy__info
            .buy__info-item
                h2.buy__title.title.title--h2 Работа с госзакупками
                .buy__info-text Годовой бюджет по программам, связанным с очисткой воды, может составлять от 500 млн до 3 млрд рублей в зависимости от региона. В году прошлом году мы выиграли конкурсы в нескольких областях ЦФО: Смоленской, Калужской, Белгородской, Тульской и Пензенской.
            .buy__item   
                .buy__item-title Общая сумма исполненных контрактов:
                .buy__item-number 612 817 97 <span>руб</span>
                .buy__item-text Общее количесво исполненных госконтрактов: 97 из них 76 по 44/94-ФЗ и 21 по 223-ФЗ
        .buy__items
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 102,7 <span>млн</span>
                .buy__item-text Администрация Пригорского сельского поселения Смоленского района Смоленской области
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 8,8 <span>млн</span>
                .buy__item-text Администрация сельского поселения Захаровское
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 25,9 <span>млн</span>
                .buy__item-text Администрация Казимировского сельского поселения Руднянского района Смоленской области
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 47,9 <span>млн</span>
                .buy__item-text Администрация Клинского муниципального района
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 5,6 <span>млн</span>
                .buy__item-text Администрация городского округа Павловский посад
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 4,2 <span>млн</span>
                .buy__item-text Администрация Знаменского муниципального района Омской области
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 8,3 <span>млн</span>
                .buy__item-text Администрация Клинского муниципального района
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 2,9 <span>млн</span>
                .buy__item-text Администрация Орехово-Зуевского района
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 2,5 <span>млн</span>
                .buy__item-text МУ «Управление строительства и архитектуры АВМР»
            .buy__item   
                .buy__item-title сумма госконтракта
                .buy__item-number 6,4 <span>млн</span>
                .buy__item-text Администрация городского поселения Волоколамск