section.clients#clients
    .l-default 
        h2.clients__title.title.title--h2 В числе наших 
        .clients__wrapper
            .clients__items
                .clients__items-wrapper 
                    .clients__item
                        picture
                            source(srcset="img/clients/logo-1.webp" type="image/webp")
                            source(srcset="img/clients/logo-1.png" type="image/png")
                            img.lazy(src="img/clients/logo-1.png" alt="")
                    .clients__item
                        picture
                            source(srcset="img/clients/logo-2.webp" type="image/webp")
                            source(srcset="img/clients/logo-2.png" type="image/png")
                            img.lazy(src="img/clients/logo-2.png" alt="")
                    .clients__item
                        picture
                            source(srcset="img/clients/logo-3.webp" type="image/webp")
                            source(srcset="img/clients/logo-3.png" type="image/png")
                            img.lazy(src="img/clients/logo-3.png" alt="")
                    .clients__item
                        picture
                            source(srcset="img/clients/logo-4.webp" type="image/webp")
                            source(srcset="img/clients/logo-4.png" type="image/png")
                            img.lazy(src="img/clients/logo-4.png" alt="")
                    .clients__item
                        picture
                            source(srcset="img/clients/logo-5.webp" type="image/webp")
                            source(srcset="img/clients/logo-5.png" type="image/png")
                            img.lazy(src="img/clients/logo-5.png" alt="")
                    .clients__item
                        picture
                            source(srcset="img/clients/logo-6.webp" type="image/webp")
                            source(srcset="img/clients/logo-6.png" type="image/png")
                            img.lazy(src="img/clients/logo-6.png" alt="")
            .clients__arrow.clients__arrow--next
                +svgMono("arrow")
            .clients__arrow.clients__arrow--prev
                +svgMono("arrow")
