footer.footer#footer
    .l-default 
        h3.footer__title.title.title--h3 Контакты
        .footer__items
            a.footer__address(href="") <span>Московская область г.Химки</span> ул. Рабочая 2а, стр. 26, офис 309  
            .footer__phones 
                a.footer__phone(href="+74955404698") +7 (495) 540 46 98  
                a.footer__phone(href="88005552734") 8 (800) 555 27 34
            a.footer__mail(href="mailto:info@a-filter.ru") info@a-filter.ru 

