@font-face {
	font-family: 'Averta';
	src: url('../../fonts/Averta.woff') format('woff'),
		 url('../../fonts/Averta.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: url('../../fonts/AvertaLight.woff') format('woff'),
		 url('../../fonts/AvertaLight.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: url('../../fonts/AvertaBold.woff') format('woff'),
		 url('../../fonts/AvertaBold.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../../fonts/Raleway.woff') format('woff'),
		 url('../../fonts/Raleway.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}